body{
    background-color: #191b1f;
}

h1,h2,h3,h4,h5,p,a{
    color: white;
}

white{
    color: white;
}

hr{
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
    width: 75%;
    margin: auto;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .about-me-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;}
