{% extends "base.html" %}

{% block content %}
<!--User Dashboard-->
<h1>HEllO</h1>
<!-- -->
<p>request user = {{request.user.id}}</p>
<p>context user = {{id}}</p>
<p>{{client}}</p>
<a class="btn btn-primary" href="{% url 'select-session' client %}">select</a>

<div class="card-body">
    <h5 class="card-title">{{request.user.username}}</h5>
    <p class="card-text">{{request.user.email}}</p>

<!--create link button client_form page-->
<a class="btn btn-primary" href="{% url 'update-client' client %}" role="button">update</a>

<div>
    {% for x in bookings %}
    {{x}}
    {% endfor %}
</div>

{% endblock %}