{% extends "base.html" %}

{% block content %}
<header class="py-5 bg-image-full"
    style="background-image: url('/static/images/pexels-victor-freitas-949126.jpg'); background-size:cover; background-repeat: no-repeat; background-position: absolute;">
    <div class="container px-5 card-overlay">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">I am here to HELP!</h1>
                    <p class="lead text-white mb-4">Join me and lets crank your fitness journey into the next gear</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--About me sections-->
<!--Section 1-->
<h2 class="text-center">Get to Know Your Personal Trainer</h2>
<hr>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/images/pexels-ivan-samkov-4164452.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ten Years Experience!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!--Section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/images/pexels-cottonbro-studio-7689295.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Passion For Bettering People!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio 
                        veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! 
                        Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!--Section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/static/images/pexels-ivan-samkov-4164507.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">A Friendly Face to All!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam
                         sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione 
                         voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}