{% extends "base.html" %}

{% block content %}
<header class="py-5 bg-image-full" style="background-image: url('/static/images/pexels-victor-freitas-949126.jpg'); background-size:cover; background-repeat: no-repeat; background-position: absolute;">
    <div class="container px-5 card-overlay">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">I am here to HELP!</h1>
                    <p class="lead text-white mb-4">Join me and lets crank your fitness journey into the next gear</p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}