{% extends "base.html" %}

{% block content %}
<header class="py-5 bg-image-full"
    style="background-image: url('https://res.cloudinary.com/dcgp8nwgd/image/upload/v1690214279/Train_With_pace/pexels-victor-freitas-949126_p6g54o.jpg'); background-size:cover; background-repeat: no-repeat; background-position: absolute;">
    <div class="container px-5 card-overlay">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">I am here to HELP!</h1>
                    <p class="lead text-white mb-4">Embrace the Power Within: Unleash Your Potential!</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--About me sections-->
<!--Section 1-->
<h2 class="text-center about-me-heading">Get to Know Your Personal Trainer</h2>
<hr>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://res.cloudinary.com/dcgp8nwgd/image/upload/v1690222920/Train_With_pace/pexels-ivan-samkov-4164452_gumwea.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ten Years Experience!</h2>
                    <p>in the ever-evolving world of fitness, my decade-long expertise as a personal
                        trainer is a testament to my unwavering commitment to empowering individuals on
                        their unique fitness journeys. Over the years, I've had the privilege of working with
                        a diverse clientele, each with their distinct goals and aspirations. My extensive experience has
                        honed my ability to craft personalized training programs that cater to individual needs,
                        ensuring
                        optimal results and long-term success. With a decade of dedication behind me, I'm excited to
                        share my wealth of knowledge and passion for fitness to help you unlock your full potential and
                        achieve transformative results. Join me, and together, we'll embark on a fitness adventure that
                        transcends boundaries and redefines what's possible for your health and well-being.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!--Section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://res.cloudinary.com/dcgp8nwgd/image/upload/v1690223269/Train_With_pace/pexels-cottonbro-studio-7689295_ignrow.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Passion For Bettering People!</h2>
                    <p>At the heart of my journey as a personal trainer lies an unwavering passion for bettering
                        people's lives through fitness. For me, it's not merely a profession but a calling to inspire
                        positive transformations and empower individuals to embrace their fullest potential. With each
                        training session, I am driven by the desire to uplift and motivate, fostering a nurturing
                        environment that nurtures physical and mental well-being alike. Beyond sculpting bodies, I am
                        dedicated to instilling confidence, resilience, and a profound sense of achievement in my
                        clients. Whether you're taking your first step into the world of fitness or seeking to conquer
                        new challenges, my boundless enthusiasm and support will propel you towards remarkable
                        milestones. Together, we'll forge a path of growth and self-discovery, leading to a life that's
                        more vibrant, healthier, and brimming with newfound vitality. Embark on this transformative
                        journey with me, and experience firsthand the profound impact of a trainer who is truly
                        passionate about bettering lives through the power of fitness.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!--Section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                        src="https://res.cloudinary.com/dcgp8nwgd/image/upload/v1690223854/Train_With_pace/pexels-ivan-samkov-4164507_eweo9u.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">A Friendly Face to All!</h2>
                    <p>In the realm of fitness, having a friendly and approachable mentor can make all the difference in
                        your journey towards well-being. As a personal trainer, I pride myself on being that reliable
                        and welcoming presence for each and every client. With a warm smile and an open heart, I am
                        committed to creating a supportive and inclusive space where everyone feels comfortable and
                        valued. Whether you're a seasoned gym enthusiast or stepping into a fitness center for the first
                        time, my friendly approach puts you at ease, eliminating any apprehensions or self-doubts.
                        Together, we'll build a strong and genuine connection that fosters trust and mutual respect. I
                        genuinely care about your goals, aspirations, and progress, and I am here to celebrate your
                        victories and navigate challenges with you. With a friendly face to guide you, the fitness
                        journey becomes an exciting adventure that strengthens not just your body but also your spirit.
                        Embrace the warmth of a dedicated trainer who is truly invested in your success, and let's
                        embark on this transformative voyage together.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}