{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card sm-12 md-5 bg-dark" style="width: 28rem; margin: auto;">
            <img src="/static/images/pexels-eduardo-romero-1886487.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>One-Hour Intensive Training Session: Unleash Your Inner Athlete</h3>
              <p class="card-text">Join me for an exhilarating one-hour training session designed 
                to challenge even the most experienced gym enthusiasts. This high-intensity workout is 
                tailored to push your limits, helping you break through plateaus and achieve remarkable 
                results. We'll focus on compound movements, strength training, and functional exercises to 
                enhance your overall athleticism. Whether you're an avid fitness enthusiast or an athlete seeking 
                to excel in your sport, this session will take your performance to new heights. Be prepared to 
                sweat, as we'll incorporate dynamic drills and circuits to keep your heart rate elevated and muscles 
                engaged throughout. Rest assured, I'll provide expert guidance and modifications to ensure the session 
                matches your fitness level and individual goals. It's time to unlock your full potential and unleash the 
                athlete within you!</p>
            </div>
          </div>
          <div class="card sm-12 md-5 bg-dark" style="width: 28rem; margin: auto;">
            <img src="/static/images/pexels-victor-freitas-897064.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>30-Minute Express Training Session: The Perfect Fit for All</h3>
              <p class="card-text">For those new to the gym or seeking a quick and effective workout, my 30-minute 
                express training session is the ideal choice. In this time-efficient workout, we'll focus on full-body 
                exercises that engage multiple muscle groups, providing a well-rounded fitness routine. This session is 
                perfect for busy individuals or anyone looking to kickstart their fitness journey. Don't be fooled by the 
                shorter duration—this workout packs a punch and delivers noticeable improvements in strength, 
                flexibility, and cardiovascular health. Moreover, it's a fantastic option for seniors and those who 
                prefer a gentler approach to fitness. I'll incorporate joint-friendly exercises and emphasize proper 
                form, ensuring a safe and enjoyable experience. This express session is proof that even in just 30 
                minutes, fitness goals can be accomplished, making it a great option for anyone looking to prioritize
                 health without sacrificing time.</p>
            </div>
          </div>
    </div>
</div>
{% endblock %}